body {
  margin: 0;
  background-color: #000000;
  color: #FFFFFF;
  padding-inline-start: 12px;
  padding-inline-end: 12px; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #FFFFFF; }

svg {
  fill: #FFFFFF; }

header,
main,
footer {
  margin: auto;
  max-width: 1000px; }

.interior_consultant__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.interior_consultant__header__heading {
  padding-block-start: 8px;
  padding-block-end: 7px;
  padding-inline-start: 8px;
  padding-inline-end: 9px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #ffffff;
  max-width: max-content;
  font-size: 14px;
  line-height: 16px; }

.open_checkbox {
  display: none; }

.interior_consultant__header__menu__icon {
  position: relative; }

.header_label {
  position: absolute;
  right: -12px; }

.interior_consultant__header__navigation {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

[type="checkbox"]:checked ~ header .interior_consultant__header__navigation {
  transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.75); }

[type="checkbox"]:checked ~ .interior_consultant__header .header_label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

.header_label__span {
  color: transparent; }

@media (min-width: 900px) {
  .interior_consultant__header__navigation__list {
    display: flex;
    flex-direction: row; }
  .interior_consultant__header__navigation__list_pages {
    padding-inline-start: 86px; }
  .interior_consultant__header__menu__icon {
    display: none; }
  .interior_consultant__header__navigation {
    position: inherit;
    z-index: auto;
    top: 0;
    left: 0;
    bottom: 0;
    width: auto;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  .interior_consultant__header__navigation__list_pages {
    padding-block-end: 32px; } }

.interior_consultant__main__heading {
  padding-block-end: 25px;
  padding-block-start: 45px;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF; }

.interior_consultant__main__article__description {
  padding-block-end: 25px; }

.interior_consultant__main__article__anchor {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF; }

.interior_consultant__main__image {
  padding-block-start: 25px;
  position: relative; }

.interior_consultant__main__designer__about__photo {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px; }

.interior_consultant__main__designer {
  background-color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-inline-start: 19px;
  padding-block-end: 1px;
  padding-block-start: 16px;
  padding-inline-end: 61px;
  position: absolute;
  bottom: -85px;
  right: 10px; }

.interior_consultant__main__designer__about {
  display: flex;
  flex-direction: row; }

.interior_consultant__main__designer__about__about {
  padding-inline-start: 20px;
  margin-block-start: -15px; }

.interior_consultant__main__designer__about__about__job {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  margin-block-start: -12px; }

.interior_consultant__main__designer__about__about__job {
  font-size: 10px;
  line-height: 12px;
  color: #828282;
  margin-block-start: -12px; }

.interior_consultant__main__designer__about__time__years {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  max-width: 190px; }

@media (min-width: 900px) {
  .interior_consultant__main {
    display: flex;
    flex-direction: row; }
  .interior_consultant__main__article {
    max-width: 256px;
    padding-inline-end: 87px; }
  .interior_consultant__main__figure {
    padding-block-start: 50px; }
  .interior_consultant__main__designer {
    background-color: #000;
    padding-inline-end: 116px;
    bottom: -75px;
    right: 28px; } }

.interior_consultant__footer {
  padding-block-start: 145px; }
