body {
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

svg {
    fill: #FFFFFF;
}

header, 
main,
footer {
    margin: auto;
    max-width: 1000px;
}