body {
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding-inline-start: 12px;
    padding-inline-end: 12px;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.interior_consultant__header__heading {
    font-family:'Crimson Pro', serif;
    font-style: normal;
    font-weight: 200;;
}

.interior_consultant__main__heading {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
}

.interior_consultant__main__designer__about__time__years {
    font-family: 'Lora', serif;
}

.interior_consultant__main__article__description {
    font-weight: 100;
    line-height: 22px;
}

li {
    list-style: none;
}

li > a:hover {
    font-weight: 700;
    transition: 1s;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

svg {
    fill: #FFFFFF;
}

header, 
main,
footer {
    margin: auto;
    max-width: 1000px;
}