.interior_consultant__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.interior_consultant__header__heading {
    padding-block-start: 8px;
    padding-block-end: 7px;
    padding-inline-start: 8px;
    padding-inline-end: 9px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #ffffff;
    max-width: max-content;
    font-size: 14px;
    line-height: 16px;
}

// Menu

.open_checkbox {
    display: none;
}

// .header_label {
//     background-image: url('../images/menu-icon.svg');
//     background-repeat: no-repeat;
// }

.interior_consultant__header__menu__icon {
    position: relative;
}

.header_label {
    position: absolute;
    right: -12px;
}

.interior_consultant__header__navigation {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 50px rgba(204, 181, 181, 0.5);
    transform: translateX(-110%);
    transition: transform 0.3s;
}

[type="checkbox"]:checked ~ header .interior_consultant__header__navigation {
    transform: translateX(0);
    background-color: black;
}

[type="checkbox"]:checked ~ .interior_consultant__header .header_label {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

body > [type="checkbox"]:checked ~ main {
    z-index: 1;
}

.interior_consultant__header__navigation__list_pages {
    padding-block-start: 32px;    
}
.header_label__span {
    color: transparent;
}

@media (min-width: 900px) {
    .interior_consultant__header__navigation__list {
        display: flex;
        flex-direction: row;
    }

    .interior_consultant__header__navigation__list_pages {
        padding-inline-start: 86px;
    }

    // .interior_consultant__header__navigation__list_anchor:hover {
    //     font-size: 18px;
    //     line-height: 22px;
    //     transition: .2s;
    // }

    .interior_consultant__header__menu__icon {
        display: none;
    }

    .interior_consultant__header__navigation {
        position: inherit;
        z-index: auto;
        top: 0;
        left: 0;
        bottom: 0;
        width: auto;
        height: auto;
        box-shadow: none;
        transform: none;
        transition: none;
    }

}
